<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>newsbot</title>
  </head>
  <body>
    <header>
      <div class="logo">NEWS BOT</div>
      <div class="counter">
        {% for name, count in counter.items() %}
        <span>
          <span class="name">{{ name }}</span>:
          <span class="count">{{ count }}</span>
        </span>
        {% if not loop.last %} | {% endif %} {% endfor %}
      </div>
    </header>

    <div class="items">
      {% for item in items %}
      <div class="item">
        <span class="meta">
          <span>{{ item.source }}</span>
          <span>{{ item.time() }}</span>
        </span>
        <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
