<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>newsbot</title>
  </head>
  <body>
    <div class="logo">NEWS BOT</div>

    <div class="status">
      {% for key, value in count.items() %}
      <span>{{ key }}: {{ value }}</span>
      {% if not loop.last %} | {% endif %} {% endfor %}
    </div>

    <div class="items">
      {% for item in items %}
      <div class="item">
        <p>@{{ item.source }} - {{ item.time() }}</p>
        <p><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
